{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
 <h1>
 Bienvenue sur la page Accueil
 </h1>
 <a href="{{ path('app_acceuil')}}">home</a>
 <a href="{{ path('app_article')}}">article</a>
 <a href="{{ path('app_ajouter')}}">ajouter</a>
{% endblock %}
