{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}

{% for categories in liste %}
<br>
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
<p><a class="text-white" href="{{ path('app_categorie_update',{'id': categories.id}) }}">{{ categories.id }}</a></p>
<a class="text-white" href="{{ path('app_categorie_delete',{'id': categories.id}) }}"><i class="fa-solid fa-trash-can"></i></a>
<p class="card-header">{{ categories.nom }}</p>
</div>
{% endfor %}

{% endblock %}