{% extends 'base.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
<div class="bg-primary p-2 text-white border border-white">
{% for categories in liste %}
<p><a class="text-white" href="{{ path('app_categorie_update',{'id': categories.id}) }}">{{ categories.id }}</a></p>
<a class="text-white" href="{{ path('app_categorie_delete',{'id': categories.id}) }}"><i class="fa-light fa-trash-can"></i></a>
<p>{{ categories.nom }}</p>
<hr>
{% endfor %}
</div>
{% endblock %}